{% extends 'base_template.html' %}
{% block title %} Finalizar Viaje {% endblock %}
{% block content %}
<center>
    <div class="inicio">
        <div class="alMedio iniciar">
            <h2>FINALIZAR VIAJE/S</h2>
            <hr width="300px">
            <table>
                {% set viajescantidad = namespace(a=0) %}
                {% set viajescancelados = namespace(b=0) %}
                {% for viaje in viajes %}
                    {% set viajescantidad.a = viajescantidad.a + 1 %}
                    {% if viaje.Importe == 0 %}    
                        <tr><th>ID</th><th>ORIGEN</th><th>DESTINO</th></tr>
                        <tr>
                            <td class="enelmedio btn1"><a href="{{ url_for('finalizarviaje', ID = viaje.IdViaje) }}">{{ viaje.IdViaje }}</a></td>
                            <td class="enelmedio btn1"><a href="{{ url_for('finalizarviaje', ID = viaje.IdViaje) }}">{{ viaje.Origen }}</a></td>
                            <td class="enelmedio btn1"><a href="{{ url_for('finalizarviaje', ID = viaje.IdViaje) }}">{{ viaje.Destino }}</a></td>
                        </tr>
                    {% else %}
                        {% set viajescancelados.b = viajescancelados.b + 1 %}
                    {% endif%}
                {% endfor %}
                {% if viajescantidad.a == viajescancelados.b %}
                    <p>No hay viajes sin finalizar.</p>
                {% endif %}
            </table>
            {% if band != 0 %}
                <form action=" {{ url_for('confirmarfinalizaciondelviaje', ID = viaje.IdViaje) }} " method="POST">
                    <p>ID de Viaje: {{ viaje.IdViaje }}</p>
                    <p>DNI de Cliente: {{ viaje.DniCliente }}</p>
                    <label for="duracion">Duración</label><br>
                    <input type="" name="duracion" id=""><br>
                    <br>
                    <input class="btn1" type="submit" name="" value="Finalizar" id="">
                </form>
            {% endif %}
            <br>
            <a class="btn1" href="{{ url_for('vistaoperario') }}">INICIO</a>
            <hr width="300px">
        </div>
    </div>
</center>
{% endblock %}