{% extends 'base_template.html' %}
{% block title %} Inicio o Registro {% endblock %}
{% block content %}
    <center>
        <div class="inicio">
            <h1 class="title"> - TU REMIS YA - </h1>
            <div class="alMedio iniciar">
                <h2 class="title">Inicio o Registro</h2>
                <hr width="300px">
                <ul class="lista">
                    <li class="boton btn1" ><a href=" {{url_for('inicio')}} ">INICIAR SESIÓN</a></li>
                    <li class="boton btn1" ><a href=" {{url_for('registro')}} ">REGISTRARSE</a></li>
                </ul>
                <hr width="300px">
            </div>
        </div>
    </center>
{% endblock %}