<!DOCTYPE html>
<html lang = "en">
   <head><title>IDDDD</title></head>
   <body>
      <form action="{{ request.path }}" method="POST">
      <h3>Comentarios registrados </h3>
        {% if usuarios is not none :%}		
			<label for = "usuarios">Usuarios:</label> <br>
			<select id= "usuarios" name="usuarios" width="500px" >
            {% for usuario in usuarios %}
                <option value="{{ usuario.id }}">{{ usuario.nombre}}</option>
			{% endfor %}			
			</select>
			
			<br><br>
			
			<input class="button1" type="submit" value="Buscar comentarios">
		{% endif %}
		
		{% if usuario_seleccionado is not none :%}	
			<h2> {{ usuario_seleccionado.nombre}} ({{ usuario_seleccionado.correo}}) escribió los siguientes comentarios:</h2>
			 {% for comentario in usuario_seleccionado.comentario %}
               <ul>
                  <li>{{ comentario.contenido }}</li>
               </ul>
            {% endfor %}
		{% endif %} 
	   <br><br><a href = "{{ url_for('inicio') }}"> Inicio </a>
	   
	  </form>
   </body>
</html>
