{% extends 'base_template.html' %}
{% block title %} Pedidos Cobrados {% endblock %}
{% block content %}
    <center>
        <div class="alMedio">
            <h1 class="title">Pedidos Cobrados</h1>
            <hr width="300px">
            <center>
                {% for i in range(pedis) %}
                    {% if listaPedis[i].Cobrado == 'True' %}
                        <table>
                            <tr><th colspan="5">Pedido N°{{listaPedis[i].NumPedido}} - Mesa N°{{listaPedis[i].Mesa}}</th></tr>
                            <tr><th>Item N°</th><th>Producto N°</th><th>Precio</th><th>Mozo</th></tr>
                            {% for j in range(items) %}
                                {% if listaItems[j].NumPedido == listaPedis[i].NumPedido %}
                                    <tr><td class="enelmedio">{{listaItems[j].NumItem}}</td><td class="enelmedio">{{listaItems[j].NumProducto}}</td><td class="enelmedio">${{listaItems[j].Precio}}</td><td>{{listaPedis[i].DNIMozo}}</td></tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    {% endif %}
                {% endfor %}
            </center>
        </div>
        <div>
            <a href=" url_for('') "></a>
        </div>
    </center>
{% endblock %}