{% extends 'base_template.html' %}
{% block title %} Items en estado listo {% endblock %}
{% block content %}
    <center>
        <div class="alMedio">
            <h1 class="title">Pedidos Pendientes</h1>
            <hr width="300px">
            <center>
                {% if pedis != 0 %}
                    {% for pedido in listaPedis %}
                        <table>
                            <tr><td class="enelmedio" colspan = "3"><b>Pedido N°{{pedido.NumPedido}}</b></td></tr>
                            <tr><th>Item</th><th>Nombre</th><th>Estado</th></tr>
                            {% for item in pedido.item %}
                                {% for producto in productos %}
                                    {% if producto.NumProducto == item.NumProducto %}
                                        <tr><td class=" btn11 enelmedio"><a href=" {{url_for('estadoListo', numItem = item.NumItem, numPedi = item.NumPedido)}} ">{{item.NumItem}}</a></td><td>{{producto.Nombre}}</td><td>{{item.Estado}}</td></tr>
                                    {% endif %}        
                                {% endfor %}        
                            {% endfor %}
                            {% if pedido.Observacion != ''%}
                                <td colspan="3"><b>Observación:</b> {{pedido.Observacion}}</td>
                            {% endif %}
                        </table>
                    {% endfor %}
                {% else %}
                    <p>Sin pedidos</p>
                {% endif %}
            </center>
        </div>
    </center>
{% endblock %}