{% extends "base_template.html" %}
{% block title %} Pedidos {% endblock %}
{% block content %}
    <center>
        <div class="alMedio">
            <h1 class="title">PEDIDO</h1>
            <hr width="300px">
            <form action="{{url_for('cargaPedidos', xnom = xnombre, xpre = xprecio, xtot = xtotal, xmes = xmesa, numPed = numPedido)}}" method="GET">
                <center>
                    <table>
                        <tr>
                            <th>NOMBRE</th><th>PRECIO</th>
                        </tr>
                        {% for producto in productos %}
                            <tr>
                                <td class="btn11"><a href="{{url_for('Pedido', nombre = producto.Nombre, precio = producto.PrecioUnitario, numMesa = xmesa, Pedido = numPedido, numProducto = producto.NumProducto)}}">{{producto.Nombre}}</a></td>
                                <td class="enelmedio">${{producto.PrecioUnitario}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <table>
                        {%if band != 0 %}
                            <tr><th>Lista de productos</th><th>Precio</th></tr>
                            {% for i in range(band) %}
                                <tr><td>{{xnombre[i]}}</td><td class="enelmedio">${{xprecio[i]}}</td></tr>
                            {%endfor%}
                            <tr><td><b>Total</b></td><td><b>${{xtotal}}</b></td></tr>
                        {%endif%}
                    </table>
                    {%if band != 0 %}
                        <label class="negro" for="observacion">Observación: <input type="text" name="observacion"></label>
                        <input class="btn1" type="submit" size="100" value="Realizar pedido">
                    {% endif %}
                </center>
            </form>
        </div>    
    </center>   
{% endblock %}